* { box-sizing: border-box; }

html {
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  background: white;
  color: #424242;
}

main {
  line-height: 1.75;
  margin: 0 auto;
  max-width: 630px;
  padding: 1rem 0;
}

h1 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  max-height: 150px;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  img {
    max-height: 200px;
  }
}

a, a:visited {
  color: #adbc4e;
  transition: .2s all ease-in;
}

a:hover { color: #bfd436; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .75rem;
  font-weight: 100;
}

sup {
  padding: 0 .15rem;
}
